@model WebApplication1.ViewModel.ResetPasswordViewModel
<div>
<form asp-action="ResetPassword" method="post">
    <label>New Password:</label>
    <input asp-for="Password" />
    <label>Confirm Password:</label>
    <input asp-for="ConfirmPassword" />
    <button type="submit">Reset Password</button>
</form>
</div>